/* Global styles */
body {
  font-family: Open, Helvetica, sans-serif;
  color: #666666;
}

a, a:visited {
  color: #666666;
}

.clear {
  clear: both;
}

td {
  border-top: solid 1px #d3d3d3;
}

td, th {
  padding: 16px;
}

table {
  border-collapse:collapse;
}

/* Documentation site component styles */
.example {
  border: solid 1px #d3d3d3;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f4f6f9;
}

.example h4:first-of-type {
  margin-top: 0;
}

.example p:last-of-type {
  margin-bottom: 0;
}

.props tr td:last-of-type {
  text-align: center;
}

.props th, td {
  text-align: left;
  padding: 5px;
}

a {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 8px 24px;
}

.navigation {
  border: 2px solid #f4f6f9;
  float: left;
  width: 200px;
  list-style-type: none;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.navigation a:hover{
  background-color: #f4f6f9;
  color: #666666;
}

.componentpage {
  margin-left: 275px;
}

button {
  background-color: transparent;
  color: black;
  padding: 8px 24px;
  border: 2px solid #555555;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #555555;
  color: white;
}

.love{
  text-align: center;
  margin: auto;
  padding-top: 100px;
}